@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

p{ color: #5D5D5D; }
/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 94%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger { display: none; }
header { padding: 15px 0; }

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 { margin-left: 3%; }
nav li { padding-right: 85px; }

nav a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

nav a:hover { color: #BA597F; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content li { display: block; }

.about-us:hover .dropdown-content,
.products:hover .dropdown-content { display: block; }

.about-us > a::after,
.products > a::after {
  content: '\f078';
  font-family: FontAwesome;
  padding-left: 17px;
}

form { margin-right: 3%; }

button {
  border: 0;
  background: transparent;
  text-indent: -9999px;
}

button::after {
  content: '\f002';
  float: right;
  font-family: FontAwesome;
  font-size: 21px;
  text-indent: 0;
}

button:hover::after { opacity: 0.4; }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*banner section styling start*/
.banner {
  margin-bottom: 38px;
  position: relative;
}

.banner .wrapper { width: 100%; }

.banner-slider { display: flex; }

.slide {
  display: none;
  position: relative;
}

.active-slide { display: block; }

.indicate {
  position: absolute;
  right: 48.3%;
  bottom: 16px;
}

.indicate a::before {
  content: "\f111";
  float: right;
  color: #6C8694;
  font-family: FontAwesome;
  font-size: 9px;
  text-indent: 0px;
}

.indicate a:hover::before { 
  content: "\f111";
  color: #000;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.indicate a { text-indent: -9999px; }

.indicate .active-circle::before {
  content: "\f111";
  color: #000;
}

h2 {
  margin-bottom: 41px;
  font-family: cursive;
  font-size: 50px;
  font-style: italic;
  text-transform: capitalize;
}

.banner-info {
  width: 36%;
  margin: 0 auto;
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.banner-info p {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.6;
}

.banner-info a {
  padding: 13px 30px;
  border-radius: 5px;
  background-color: #FFF;
  color: #000;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}

.banner-info a:hover {
  background-color: #000;
  color: #FFF;
}
/*banner section styling end*/

/*gallery section styling start*/
.img-gallery { margin-bottom: 32px; }

.img-gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figcaption {
  padding: 25px 0;
  color: #000;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

.img-gallery ul a {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.2;
}

.img-gallery ul a:hover > .overlay {display: block;}
.overlay span {
  display: block;  
  text-indent: -9999px;
}

.overlay span::after{
  content: '\f1b1';
  width: 52%;
  margin-top: 100px;
  float: right;
  color: #fff;
  font-family: FontAwesome;
  font-size: 80px;
  text-indent: 0;
}
/*gallery section styling start*/

/*quotes section styling start*/
.quotes {
  padding: 120px 0 44px;
  margin-bottom: 44px;
  position: relative;
  background-image: url('../images/Image_3-.jpg');
  background-size: 100% 100%;
}

.quotes figure {
  width: 6%;
  position: absolute;
  top: 75px;
  left: 38.7%;
}

.quotes-slider {
  width: 43.3%;
  padding: 85px 10.5% 53px;
  margin: 0 0 92px 35.7%;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  text-align: center;
}

.blog { display: none; }

.blog p {
  width: 99%;
  margin-bottom: 52px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
}

.active-blog { display: block; }
.quote { margin-left: 7px; }

.indicate-dots {
  position: absolute;
  right: 3.5%;
  bottom: 93px;
}

.indicate-dots a::before {
  content: "\f111";
  float: right;
  color: #A5A5A5;
  font-family: FontAwesome;
  font-size: 12px;
  text-indent: 0px;
}

.indicate-dots a:hover::before { 
  content: "\f111";
  color: #BA597F;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.indicate-dots a { text-indent: -9999px; }

.indicate-dots .active-dots::before {
  content: "\f111";
  color: #BA597F;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
}

h4::before {
  content: '\f068';
  font-family: FontAwesome;
  padding-right: 12px;
}
/*quotes section styling start*/

/*recipes section styling start*/
.recipes {
  margin-bottom: 53px;
  text-align: center;
}

h3 {
  margin-bottom: 33px;
  color: #C45780;
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
}

.recipes p {
  width: 80%;
  margin: 0 auto 83px;
  font-size: 15px;
  line-height: 1.6;
}

.recipes ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipes li { border: 3px solid #E9E9E9; }
.recipes figure { margin-bottom: 47px; }

h5 {
  margin-bottom: 54px;
  color: #C45780;
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
}

.recipes p::first-letter { text-transform: capitalize; }
.cake-recipes { position: relative; }

.cake-recipes p {
  width: 71%;
  margin: 0 auto 52px;
  color: #000;
  font-size: 17px;
  text-align: left;
}

.cake-recipes p::before {
  content: '\f111';
  position: absolute;
  top: 97px;
  left: 11%;
  font-family: FontAwesome;
  font-size: 6px;
}
/*recipes section styling end*/

/*baked block section styling start*/
.baked-block {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 17px;
  text-align: center;
}

.baked-block .wrapper { width: 100%; }

.baked-block ul {
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.baked-block li { flex-basis: 24.8%; }

.baked-block a {
  padding: 12px 32px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #C45780;
  color: #FFF;
  text-transform: uppercase;
}

.baked-block a:hover {
  background-color: #E8E8E8;
  color: #BA597F;
}
/*backed block section styling end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 8px 0 31px;
  background-color: #EBEBEB;
  color: #5D5D5D;
  text-align: center;
}

footer span { font-size: 14px; }
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /* hamburger added */
  .hamburger { display: block; }

  nav {
    width: 45px;
    height: 45px;
  }

  .hamburger span {
    width: 100%;
    height: 2px;
    border-radius: 20%;
    margin-bottom: 2px;
    display: block;
    background-color: #000;
    text-indent: -9999px;
  } 

  nav ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 26px;
    right: 0;
    left: 0;
  }

  nav li {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #fff;
    background-color: #4f4f4f;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-transform: capitalize;
  }

  nav:hover ul {
    display: block;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  nav:hover .one { 
    -webkit-transform: translateY(0px) rotate(-45deg); 
    -ms-transform: translateY(0px) rotate(-45deg); 
    transform: translateY(0px) rotate(-45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  nav:hover .three { 
    -webkit-transform: translateY(-8px) rotate(45deg); 
    -ms-transform: translateY(-8px) rotate(45deg); 
    transform: translateY(-8px) rotate(45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  nav:hover .two { 
    -webkit-transform: scale(0); 
    -ms-transform: scale(0); 
    transform: scale(0);
  }

  nav a:hover { color: #fff; }
  /* hover removed */
  .banner-info a:hover {
    background-color: #fff;
    color: #000;
  }

  .baked-block a:hover {
    background-color: #BA597F;
    color: #E8E8E8;
  }

  .about-us .dropdown-content,
  .products .dropdown-content { display: none; }

  .banner-info {
    width: 100%;
    top: 20px;
  }

  .quotes-slider {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .indicate-dots {
    right: 46%;
    bottom: 12px;
  }

  .img-gallery ul,
  .recipes ul,
  .baked-block ul { justify-content: center; }

  .baked-block li { flex-basis: 80%; }

  .img-gallery li,
  .recipes li,
  .baked-block li { margin-bottom: 30px; }
}


/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  h2 {
    margin: 0;
    font-size: 15px;
  }

  p {
    line-height: 1;
    font-size: 10px;
  }
}